<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>
  Hier gaan we de bandnaam vragen.
  <%= f.fields_for :bands do |builder| %>
  	
  	<%= f.label :name, "Band name:" %>
  	<%= f.text_field :name %>
  <% end %>	

  <div><%= f.submit "Sign up" %></div>
<% end %>

<%= render "devise/shared/links" %>
