<h1>Your bands</h1>

<p><%= link_to " Log out", logout_path %></p>
<p><%= link_to "New band", new_band_path %></p>
<p>
	<ul>
		<% @bands.each do |band| %>
			<li><%= link_to band.name, band %></li>
		<% end %>
	</ul>
</p>