<h1>Create new band</h1>


<%= form_for @band do |f| %>


	<%=f.label :name %>
	<%=f.text_field :name %>
	<h1>Create your first selling event</h1>
	<% @band.events.each do |event| %>
    <%=f.fields_for :events, event do |builder| %>
      <%= render 'event_fields', :f => builder %> 
    <% end %>
  <%end%>
	<%= f.submit "Submit" %>

<% end %>

