<h1><%= @band.name %></h1>

<p><%= link_to "Band Overview", bands_path %></p>

<%= form_for @band do |f| %>

	<h1>Create a new selling event</h1>  

  <% @band.events.each do |event| %>
    <%=f.fields_for :events, event do |builder| %>
      <%= render 'event_fields', :f => builder %> 
    <% end %>
  <%end%>

	<%= f.submit "Submit" %>

<% end %>

<p>
	<ul>
		<% @band.events.each do |event| %>
			<li><%= event.place %></li>
		<% end %>
	</ul>
</p>